.home-fcus{

    &_create-story{
        display: flex;        
        background-color: $home-fcus_create-story_div-background;
        border-radius: .8rem;
        margin: 2vh 0 0 0;
        padding: 0 0 1vh 0;

        &_icon{
            color: #2581d6;
            padding: 1.5vh 0 0 2vw;
        }

        &_text{

            &-top{
                color: $home-fcus_create-story_div-text;    
                padding: 1vh 0 0 2vw;
            }

            &-bottom{
                color: $home-fcus_create-story_div-text;
                padding: 0 0 0 2vw;
                margin: -2vh 0 0 0;
            }
        }
    }

    &_whats-on-your-mind{
        background-color: $home-fcus_create-story_div-background;
        border-radius: 0.8rem;
        margin: 2vh 0 0 0;
        padding: 2vh 0 0vh 0;

        &_top{
            display: flex;

            &_icon{
                color: #aaaaaa;
                padding: 1vh 0 0 2vw;
            }

            &_input{
                border-radius: 2.5rem;
                width: 80%;
                margin: 0.5vh 0 0 1vw;
                padding: .7vh 0 .7vh 1vw;
                background-color: aqua;
            }
        }

        &_mid-hr{
            color: $home-fcus_create-story_div-text;
            width: 80%;
            margin-left: 10%;
        }

        &_bottom{
            display: flex;
            
            &_icon{
                color: $home-fcus_create-story_icon_general;
                padding: 1.5vh 0.5vw 0 2vw;
            }

            & > p{
                color: $home-fcus_create-story_div-text;
                padding: 2vh 0 0 0;
            }
        }
    }

    &_create-room{
        background-color: $home-fcus_create-story_div-background;
        border-radius: 0.8rem;
        margin: 2vh 0 0 0;
        padding: 2vh 0 2vh 1vw;

        &_btn {
            display: flex;
            border-radius: 4rem;
            border-width: 0.18rem;
            border-color: $home-fcus_create-story_create-room-btn-border;
            background-color: $home-fcus_create-story_div-background;
        }

        &_icon{
            color: $home-fcus_create-story_icon_general;
            padding: 1vh 0 0 2vw;
        }

        &_text{
            color: $home-fcus_create-story_div-text;
            padding: 1.2vh 2vw 0 1vw;
        }
    }

    &_people-you-may-know{
        background-color: $home-fcus_create-story_div-background;
        border-radius: 0.8rem;
        margin: 2vh 0 0 0;
        padding: 2vh 0 2vh 1vw;

        &_text{
            color: $home-fcus_create-story_div-text;
            padding: 1.2vh 2vw 0 1vw;
        }

        &_cards{ // edit later when cards are actually added
            color: $home-fcus_create-story_div-text;
            padding: 1.2vh 2vw 0 1vw;
        }
    }

    &_feed{
        background-color: $home-fcus_create-story_div-background;
        border-radius: 0.8rem;
        margin: 2vh 0 0 0;
        padding: 2vh 0 2vh 1vw;

        &_title{
            color: $home-fcus_create-story_div-text;
            padding: 1.2vh 2vw 0 1vw;
        }

        &_cards{
            color: $home-fcus_create-story_div-text;
            padding: 1.2vh 2vw 0 1vw;
        }
    }

}