.messenger-fcus{

    &_top-bar{
        display: flex;
        padding-top: 2vh;
        border-bottom-style: inset;
        border-width: 1px;
        border-color: #353535;

        &_icon{
            color: white;
        }

        &_text{
            color: white;
            font-size: 1.5rem;
            padding: 1vh 0 0 2vw;
        }
    }

    &_messages::-webkit-scrollbar {
        display: none;
      }

    &_messages{
        max-height: 50vh;
        height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 1vw;
        background-color: white;
        border-radius: 1rem;

        &_message-received{
            display: flex;
            width: 55%;
            padding-left: 1vw;
            background-color: #68c7f3;
            border-radius: 2rem;

            &_icon{
                padding-top: 1vh;
            }

            &_text{
                padding-left: 1vw;
                padding-top: 0.5vh;
            }
        }

        &_message-sent{
            margin-top: 2vh;
            margin-left: 40%;
            padding-left: 1vw;
            width: 55%;
            border-radius: 2rem;
            background-color: #3f3fd6;
        }
    }

    &_input-div{
        display: flex;

        &_input-box{
            width: 85%;
            border-radius: 1rem;
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-left: 1vw;
            padding-right: 1vw;
            margin-top: 1vh;
        }

        &_button{
            width: 12%;
            margin: 1vh 0 0 2%;
            border-radius: 1rem;
            padding: 0.5vh 0.5vw 0.5vh 0.5vw;
        }
    }
}

// for reference
.conversation-sidebar{
    margin-left: 7vw;

    &_hr-divider{
        color: white;
        width: 60%;
    }

    &_contacts{

        &_text{
            color: $home-fcus_create-story_div-text;    
            padding: 1vh 0 0 0vw;
        }

        &_cards{
            color: $home-fcus_create-story_div-text;    
            padding: 1vh 0 0 0vw;
        }

        &_card{
            display: flex;
            padding-bottom: 1.5vh;

            &_icon{
                padding-right: 1vw;
                height: 3vh;
            }

            &_text{
                font-size: 1.1rem;
            }
        }
    }

    &_group-conversations{

        &_text{
            color: $home-fcus_create-story_div-text;    
            padding: 1vh 0 0 0vw;
        }

        &_cards{
            color: $home-fcus_create-story_div-text;    
            padding: 1vh 0 0 0vw;
        }
    }
}