@import './variables';

.nav-fcus {
    // display: flex;
    background-color: $nav_background-color;
    height: 8vh;

    &_left {

        &-logo{
            padding-left: 2vw;
        }

        &-search{
            border-radius: 2.5rem;
            margin: 2vh 0 0 2vw;
            padding: 0 0 0 1vw;
            background-color: $nav_left-search-background-color;
        }
    }
}

