$nav-fcus_background-color: #18191A;
$nav-fcus_left-search-background-color: #353535;
$nav-fcus_icon-color: white;

// $sidebar-fcus_background-color: #2e2f38; // not needed in scss sheet, used in public/index.html for the default setting  
$sidebar-fcus_icon-color: white;
$sidebar-fcus_text-color: white;

$home-fcus_create-story_div-background: #18191A;
